:root{
    --bg-color-header-footer:rgb(185, 243, 228) ;
    --bg-color-card:rgb(234, 143, 234);
    --bg-color_nav:rgba(250, 201, 87, 0.322);
    --bg-color-table: rgb(185, 243, 228);
    --bg-color-form:rgb(234, 143, 234);
    --bg-color-body:rgb(246, 230, 194);
    --bg-color-categories:rgb(185, 243, 228);
}
.container{
margin-top: 1rem;
width: 75%;
justify-content: center;
align-items: center;
height: auto;
}

.event__card{
    width: 43.75rem;
    height: 15.625rem;
    background-color: var(--bg-color-card);
    
}
.card-img-top{
    padding-top: 1rem;
    
}
.card{
    min-width: 330px;
}
.form-contact{
    background-color: var(--bg-color-form);
    padding: 2rem;
    border-radius: 1rem;
    height: 23rem;

}
.form-contact__item{
    margin-top: 1rem;
}

.table-responsive{
    margin: 5rem auto;
    background-color: var(--bg-color-table);
}
footer ,header ,.navbar{
    background-color: var(--bg-color-header-footer);
}
footer{
    margin-top: 2rem;
}
nav{
    background-color: var(--bg-color_nav);
}
.categories{
    background-color: var(--bg-color-categories);
}

body{
    background-color: var(--bg-color-body);
}
